html,
body {
    background: #ddd;
}

.mt-100 {
    margin-top: 100px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-100 {
    padding-bottom: 100px;
}

.mb-70 {
    padding-bottom: 70px;
}

.mb-50 {
    padding-bottom: 50px;
}

.mb-30 {
    padding-bottom: 300px;
}

.mb-20 {
    padding-bottom: 20px;
}

.mb-10 {
    padding-bottom: 10px;
}

.pt-100 {
    padding-top: 100px;
}

.pt-70 {
    padding-top: 70px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-30 {
    padding-top: 300px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-10 {
    padding-top: 10px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-30 {
    padding-bottom: 300px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-10 {
    padding-bottom: 10px;
}

.logo img {
    margin-top: 80px;
    width: 50%;
}

.titlesite {
    background: #333333;
    color: #ffffff;
    padding: 5px 0px;
    text-align: center;
}

.epaphrodite h1 {
    font-size: 150px;
    font-weight: 100px;
    text-align: center;
    width: 80%;
}

.epaphrodite {
    margin-top: 5px;
}

.epaphrodite a {
    text-decoration: none;
    text-align: center;
    padding: 10px 40px;
    background: #ca0404;
    border: 1px solid #fff;
    border-radius: 40px;
    color: #ffffff;
    font-weight: bold;
}

.epaphrodite a:hover {
    background: #016D6D;
    color: #ffffff;
}

.form-control {
    color: #646464;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.form-control:focus {
    border-color: #ccc;
    background-color: #fcfcfc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#BtnValidate{
    width: 100%;
  }

.form-control {
    padding-left: 0;
    padding-right: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    -webkit-box-shadow: 0 1px 0 #e6e6e6;
    box-shadow: 0 1px 0 #e6e6e6;
}

.form-control:focus {
    background-color: transparent;
    -webkit-box-shadow: 0 2px 0 #646464;
    box-shadow: 0 2px 0 #646464;
}

.loginImg img{
    width: 40%;
    margin-top: -100px;
}

.qrcodes {
    height: 100px;
}

.texthead {
    font-size: 20px;
    text-align: center;
}

.reponses {
    text-align: center;
    color: #ff4500;
    font-style: italic;
}

.informationtheme img{
    margin-top: -170px;
    width: 70%;
}

.cardform {
    margin: 170px auto 40px;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 17px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #ffffff;
}

@media(max-width:767px) {
    .cardform {
        margin: 100px auto;
        width: 90%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 17px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background: #ffffff;
    }
}

#textarea_input{
    resize: none;
  }


  .pagination-button{
    cursor: pointer;
    padding: 5px 10px;
    background: #b59102;
    border-radius: 7px;
    color: #fff;
    font-size: 12px;
  }
  
  .pagination-number {
    cursor: pointer;
    border-radius: 7px;
    padding: 5px 10px;
    background: var(--dashboard-main);;
    margin: 2px;
    text-decoration: none;
    color: #fff;
    font-size: 12px;  
  }
  
  .pagination a {
    border-radius: 0px;
    padding: 5px 5px;
    background: var(--dashboard-main);;
    margin: 2px;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
  }
  
  .pagination .active {
    background-color: rgb(178, 4, 4);
    color: #fff;
  }  