{% extends layouts %}
{% from ajax import send_ajax_request, get_ajax_request, send_ajax_stream_request %}
{% from forms import textarea_field, submit %}
{% from breadcrumb import breadcrumb_field %} 
{% from tools import recognition, ollamaChatBot %} 
{% block content %}
{{ breadcrumb_field('EPAPHRODITES OLLAMA CONFIGURATION CHATBOT' )}}



  

  <!-- 
  {{ get_ajax_request({
    method : "POST",
    url : "chats@start_ollama_chatbot",
    msg : '.conversation',
    type : 'html'
  }) }}

  {{
    recognition({
      button : "startButtonVoice",
      field : "__send__"
    })
  }}

  {{ send_ajax_stream_request({
    submit: '#sendMessages',
    msg: '.conversation',
    url: 'chats@start_ollama_chatbot',
    method: 'POST',
    value: ['__send__'],
    iconTarget: '#statusIcon',
    loadingIcon: 'bi-hourglass-split',
    thinkingIcon: 'bi-snow2',
    workingIcon: 'bi-snow2'
}) }}
-->
<style>

  #input-container {
    position: fixed;
    bottom: 10px;
    width: 70%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.conversation {
  padding: 20px;
  overflow-y: auto;
  height: calc(100vh - 230px);
  box-sizing: border-box;
  width: 90%;
  margin: auto;
}
</style>


{{ ollamaChatBot(
  {
    model: 'llama3:8b',
    temperature: 0.7,
    max_messages: 5,
    container_id: 'chatBox',
    textarea_id: 'inputArea',
    button_id: 'sendButton'
  }
) }}

{% endblock %}