{% extends layouts %}
{% from ajax import send_streaming_request, get_ajax_request %}
{% from forms import input_field, textarea_field, submit %}
{% from breadcrumb import breadcrumb_field %} 
{% from tools import recognition %} 
{% block content %}
{{ breadcrumb_field('EPAPHRODITES CHATBOT MODEL TWO' )}}

  <div class="container">
    <div class="chat-bot-content">
      <div class="conversation"></div>
        <div class="input-group">

          {{ submit(
            {
              icon : 'bi bi-mic',
              color : 'transparent',
              id : 'startButtonVoice',
              mainClass : 'input-group-prepend'
            }
          )}}

          {{ textarea_field(
            {
             require : true ,
             name : '__send__' ,
             id : '__send__' ,
             maxlength : 200,
             rows : 2,
             placeholder : 'Message to Epaphrodites Bot...'
            }
        )}}

          {{ submit(
            {
              icon : 'bi bi-arrow-up-circle-fill',
              color : 'transparent',
              id : 'sendMessages',
              mainClass : 'input-group-prepend'
            }
          )}}

        </div>
      </div>
  </div>

  {{ send_streaming_request({
    method : "POST",
    url : "chats@start_rag_and_faiss_bot_Model",
    value : ['__send__'],
    submit : '#sendMessages',
    msg : '.conversation'
  }) }}

  {{
    recognition({
      button : "startButtonVoice",
      field : "__send__"
    })
  }}
{% endblock %}

