{% extends layouts %}
{% from breadcrumb import breadcrumb_field %} 
{% from ajax import send_ajax_request, get_ajax_request %}
{% from forms import input_field, submit %}
{% from tools import recognition %} 
{% block content %}
{{ breadcrumb_field('EPAPHRODITES CHATBOT MODEL THREE' )}}
  <div class="container">
    <div class="wrapper">
      <div class="box"></div>
      <div class="typing-area">
        <div class="input-field">
          {{ submit({
            icon : 'bi bi-mic',
            color : "transparent",
            id : "startButton"
          }) }}
          {{ input_field(
            {
              require : true ,
              name : '__send__' ,
              id : '__send__' ,
              placeholder : "Message to Epaphrodites Bot..."
            }
          )}}
          {{ submit({
            icon : 'bi bi-arrow-up-circle-fill',
            color : "transparent"
          }) }}
        </div>
      </div>
    </div>
  </div>

  {{ send_ajax_request({
    method : "POST",
    url : "chats@start_chatbot_model_three",
    value : ['__send__'],
    submit : '#BtnValidate',
    msg : '.box'
  }) }}

  {{ get_ajax_request({
    method : "POST",
    url : "chats@start_chatbot_model_three",
    msg : '.box',
    type : 'html'
  }) }}

  {{
    recognition({
      button : "startButton",
      field : "__send__"
    })
  }}
  
{% endblock %}