{% extends layouts %}
{% from breadcrumb import breadcrumb_field %} 
{% from forms import input_field, submit %} 
{% from message import alert_msg %}
{% block content %}
{{ alert_msg( reponse, alert ) }}
{{ breadcrumb_field( 'MY PERSONAL INFORMATION' )}}

   <div class="container">
        <form id="signatureForm" class="laodForm" method="POST" novalidate>
            <div class="row g-3">

                {{ __csrf() }} 

                {% for select in select %} 

                    {{ input_field(
                        {
                            maxlength : 70 , 
                            require : true , 
                            character : "string" ,
                            name : '__username__' , 
                            label : 'Name and surname' , 
                            value : select.namesurname|toiso , 
                            feedback : 'Please enter your name and surname and continue.' ,
                        })
                    }} 

                    {{ input_field(
                        {
                            maxlength: 100 , 
                            require : true , 
                            type : 'email' , 
                            name : '__email__' ,       
                            label : 'Your Email' , 
                            value : select.email|e ,
                            feedback : 'Please enter your Email and continue.' ,
                        }) 
                    }}     

                    {{ input_field(
                        { 
                            maxlength : 10 , 
                            require : true , 
                            name : '__contact__' , 
                            character : "numeric" ,
                            label : 'Phone number' , 
                            value : select.contact|e ,
                            feedback : 'Please enter your phone number and continue' , 
                        })  
                    }} 

                    {{ submit({
                        label : 'Save your informations',
                        icon : 'bi bi-pen'
                    }) }}

                {% endfor %}
            </div>
        </form>
   </div>
{% endblock %}